body {
        background-color: #000000;
        background-image: url("https://raw.githubusercontent.com/ocalderon1492/NBK/master/logo.bmp");
        -webkit-transform: translate3d(0,0,0);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
}
